.gameBoard{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
}

.gameBoard button{
    width: 100px;
    height: 100px;
}
.gameBoard div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.reset{
    background-color: black;
    color: white;
    width: 150px;
    height: 60px;
    font-size: 24px;
    margin-top: 30px;
}

.hidden{
    display: none;
}

.x{
    font-size: 24px;
    color: red;
}

.o{
    font-size: 24px;
    color: blue;
}

.history{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.historyBtn{
    margin: 5px;
    height: 30px;
    min-width: 100px;
}

.board-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}